@import '../variables/variables.scss';

.pages-router {
  @include hover;

  height: 35px;
  display: flex;
  justify-content: space-around;
  background: #f8f8f7;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  position: sticky;
  top: 0;
  z-index: $router_z_index;

  a {
    text-decoration: none;
  }
}
