@import '../../assets/styles/router/router.scss';
@import '../../assets/styles/burger/burger.scss';
@import '../../assets/styles/variables/variables.scss';

// Header
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1064px;
  margin: 67px auto 70px;

  @media screen and (max-width: 1075px) {
    margin: 68px 10px 71px;
    width: 100%;
  }

  @media screen and (max-width: 650px) {
    margin: 20px 15px;
  }

  &-logo {
    font-family: $inconolata_font;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.2em;
    color: $nav_color;

    @media screen and (max-width: 1075px) {
      width: 50%;
    }
  }

  &-menu {
    width: 50%;

    ul {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      list-style: none;
      cursor: pointer;

      @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: center;
      }

      li {
        @include hover;

        @media screen and (max-width: 650px) {
          padding: 10px;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}

// Main-image
.section-main-image {
  max-width: 1064px;
  margin: 0 auto;

  img {
    width: 100%;
  }
  @media screen and (max-width: 1075px) {
    margin: 0 5px;
  }
}

// Content
.section-content {
  margin-top: 100px;

  &-wrapper {
    max-width: 1064px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 3px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 950px) {
      margin: 0 15px;
      display: block;
    }

    &-content {
      display: grid;

      @media screen and (max-width: 950px) {
        margin: 0 15px;

      }

      .content-subtitle {
        font-family: "Ubuntu", sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        color: #b4ad9e;
        margin: 27px 0 32px 0;
      }

      .content-title {
        font-size: 30px;
        margin-bottom: 33px;
      }

      .p {
        line-height: 24px;
      }

      img {
        width: 100%;
      }

      .content-social {
        padding: 40px 0 45px 0;
        max-width: 980px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        .content-social-nav {
          padding-left: 520px;
          padding-bottom: 10px;
          text-transform: uppercase;
          font-family: "Ubuntu", sans-serif;
          color: #b4ad9e;

          i {
            font-size: 18px;
            padding: 7px;
            opacity: 0.5;
          }

          .fa-facebook-f {
            padding-left: 35px;
          }
        }
      }
    }
    img {
      width: 100%;
      margin: 20px 0;
    }
    .content-description {
      line-height: 24px;
      p {
        margin-top: 35px;
      }
      .description-i {
        text-align: center;
        padding: 27px;
      }
    }
  }
}

// yourLike
.section-yourLike {
  background-color: #f0f0f0;
  padding: 60px 0;
  @media screen and (max-width: 650px) {
    padding: 27px;
  }
  &-wrapper {
    max-width: 890px;
    margin: 0 auto;
    @media screen and (max-width: 900px) {
      margin: 0 5px;
    }
    &-subtitle {
      font-family: 'Ubuntu', sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      color: #b4ad9e;
      margin: 27px 0 32px 0;
    }
    &-photos {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: center;
      }
      .photo-block {

        @media screen and (max-width: 800px) {
          padding: 10px;
        }

        img {
          width: 100%;
        }
        &-title {
          font-size: 20px;
          margin: 10px 0;
          @media screen and (max-width: 800px) {
            font-size: 16px;
          }
        }
      }
      .block {
        padding-right: 45px;
      }
    }
  }
}

// Comments
.section-comments {
  &-wrapper {
    max-width: 890px;
    margin: 0 auto;

    @media screen and (max-width: 900px) {
      margin: 0 5px;
    }

    &-subtitle {
      font-family: 'Ubuntu', sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      color: #b4ad9e;
      margin: 27px 0 32px 0;
    }

    &-commentList {
      .comment {
        display: flex;
        align-content: space-between;

        &-avatar {
          position: relative;
          padding: 5px 25px 0 0;
          width: 70px;

          &-image {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: rgb(29 166 185 / 35%);
            overflow: hidden;
            text-align: center;
            font-size: 35px;
            color: #fff;
            line-height: 2;
            text-transform: uppercase;
            font-family: 'Ubuntu', sans-serif;

            img {
              width: 100%;
            }
          }
        }

        &-description {
          line-height: 1.8;

          .user {
            font-weight: bold;
          }

          .reply {
            font-family: 'Ubuntu', sans-serif;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            color: #b4ad9e;
            margin: 27px 0 32px 0;
            cursor: pointer;
          }
        }
      }
    }

    &-input {
      display: flex;

      .input-avatar {
        height: 70px;
        width: 81px;
        display: flex;
        align-items: center;
        border-radius: 60px;
        justify-content: center;
        background: #417db7;

        .avatar {
          width: 70px;
          font-family: 'Ubuntu', sans-serif;
          color: white;
          font-size: 37px;
          text-align: center;

          @media screen and (max-width: 900px) {
            width: 70px;
          }
        }
      }
      input {
        width: 100%;
        padding: 0 0 0 30px;
        border: 1px solid #c3c2c2;
        border-radius: 8px;
        margin-left: 26px;
        height: 68px;
        &::placeholder {
          text-transform: uppercase;
          font-family: 'Ubuntu', sans-serif;
          color: #c3c2c2;
        }
      }
    }
    &-icons {
      padding: 20px 0 45px 0;
      max-width: 980px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      .icons-nav {
        font-family: "Ubuntu", sans-serif;
        color: #b4ad9e;
        padding: 10px 0;
        text-transform: uppercase;
        i {
          font-size: 18px;
          opacity: 0.5;
          padding: 7px;
          text-decoration: none;
        }
        .fa-twitter {
          padding-left: 30px;
        }
        .fa-facebook-f {
          color: black;
        }
      }
    }
  }
}

// Footer
.section-footer {
  background-color: #f0f0f0;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 45px 0;
    max-width: 980px;
    margin: 0 auto;

    @media screen and (max-width: 400px) {
      flex-direction: column;
      align-items: center;
      padding: 40px 8px 45px;
    }

    &-nav {
      @include hover;

      a {
        margin-right: 17px;
      }
    }

    &-contacts {
      display: flex;
      font-size: initial;
      align-items: flex-start;
      color: black;

      .subtitle {
        text-decoration: none;
        font-size: initial;
        color: black;
      }
    }

    a {
      text-decoration: none;
      font-size: initial;
      color: black;
    }
  }
}

// Icons
.social-icons {
  display: flex;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  list-style-type: none;
}

.fa-brands {
  padding-left: 20px;
  font-size: 20px;
}

// Side-block
.content-side-block {
  position: sticky;
  top: 0;
  width: 250px;
  margin: 30px 0 50px 50px;

  @media screen and (max-width: 690px) {
    margin: 30px 3px 50px 3px;
  }

  p {
    line-height: 24px;
    margin: 0;
  }

  img {
    width: 100%;
  }

  .content-side-block-title {
    font-size: 27px;
    margin: 15px 0;
  }

  .content-side-block-social {
    padding: 20px 0 60px;
    a {
      i {
        padding: 0;
        padding-right: 10px;
        color: #b4ad9e;
      }
    }
  }

  .topPost-title {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    color: #b4ad9e;
    padding-bottom: 30px;
  }

  .topPost-list {
    padding-left: 17px;
  }

  li {
    margin-bottom: 10px;
    color: black;
    font-size: 16px;
    &::marker {
      color: #b4ad9e;
      font-size: 13px;
    }
  }

  .topPosts-comments {
    font-size: 11px;
    padding-top: 5px;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    color: #b4ad9e;
  }

  .banner {
    width: 250px;
    height: 250px;
    background: rgb(193 190 172 /60%);
    text-align: center;
    color: #fff;
    font-size: 45px;
    line-height: 5.5;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
  }
  &-topPosts {
    padding-bottom: 30px;
  }
}
